.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.appWrapper {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* The styles above could probably be deleted. */

/* Additional style: */

/* Seems like priority for class .btn-primary isn't enough to override bootstrap default. */
/* Let's change the colors with button ID */
#add-button {
  background-color: rgba(107, 220, 255, 0.11);
  border-style: dashed;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.39);
  text-justify: auto;
  color: black;
}
#add-button:hover {
  background-color: rgba(23, 35, 39, 0.404);
}

h2 {
  padding-bottom: 20px;
}

.block-description {
  padding-top: 5px;
  padding-left: 10px;
}